@import 'src/app/utilities/stylingVariables';

img {
  width: 13em;
  display: block;
  margin: 1em auto 0.5em auto;
}

header {
  margin: 0.75vh;
}

.aurac-sidebar-header-button-container {
  display: flex;
}

.aurac-sidebar-header-button {
  margin: 0.25em;
  flex: fit-content;
  background-color: $ner_icon;
}
