<header>
  <img [src]="imgSrc | safeResource" />
  <nav>
    <div class="aurac-sidebar-header-button-container">
      <button class="aurac-sidebar-header-button" mat-raised-button (click)="exportCSV()">
        Download
      </button>
      <button class="aurac-sidebar-header-button" mat-raised-button (click)="clearCards()">
        Clear
      </button>
      <button class="aurac-sidebar-header-button" mat-raised-button (click)="compressOrClearSidebar()">
        Compress/Stick
      </button>
    </div>
  </nav>
</header>
