<div *ngIf="isLoaded">
  <form [formGroup]="preferencesForm">

    <div class="dictionaries">
      <mat-radio-group
        aria-labelledby="radio-group-label"
        class="radio-group"
        formControlName="dictionary">
        <div *ngFor="let dictionary of dictionaries">
          <mat-radio-button
            class="radio-button"
            [value]="dictionary"
          >
            {{dictionary | titlecase}}
          </mat-radio-button>
          <br>
        </div>
      </mat-radio-group>
    </div>

    <table class="table">
      <tr>
        <td>
          Minimum entity length
        </td>
        <td>
          <select [formControl]="preferencesForm!.get('minEntityLength')">
            <option *ngFor="let length of minEntityLength" selected>
              {{length}}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>

