<div *ngIf="isLoaded">
  <form [formGroup]="preferencesForm">
    <table class="table">
      <tr>
        <td>
          <label [for]="preferencesForm!.get('hideUnresolved')">
            Hide unresolved entities
          </label>
        </td>
        <td>
          <input type="checkbox"
                 [formControl]="preferencesForm!.get('hideUnresolved')">
        </td>
      </tr>
      <tr>
        <td>
            Minimum entity length
        </td>
        <td>
          <input type="text"
                 [ngStyle]="{'border': preferencesForm!.get('minEntityLength')!
                 .valid ? '1px solid gray' : '1px solid red'}"
                 [formControl]="preferencesForm!.get('minEntityLength')">
        </td>
      </tr>
    </table>
  </form>
</div>

