<mat-form-field appearance="fill" class="aurac-dropdown">
  <mat-label>Select species</mat-label>
  <mat-select [formControl]="speciesControl">
    <mat-option *ngFor="let species of allSpecies" [value]="species">
      {{ species }}
    </mat-option>
  </mat-select>
</mat-form-field>

<section>
  <p *ngIf="filteredCards.length === 0 && totalHighlights && totalHighlights > 0">
    Click on a highlighted entity to display further information and links below...
  </p>
  <p *ngIf="totalHighlights === 0">Nothing found on this page!</p>

  <app-sidebar-card
    *ngFor="let card of filteredCards"
    [card]="card"
    [inFocus]="card.entityID === focusedCard.entityID"
    [nOccurrences]="card.entity.htmlTagIDs!.length"
  ></app-sidebar-card>
</section>
