<div>
  <form [formGroup]="form">
    <mat-radio-group *ngIf="recognisers.length > 1"
      aria-labelledby="radio-group-label"
      class="aurac-radio-group"
      formControlName="recogniser"
    >
      <mat-label class="aurac-prefs-label"><b>Select your area of interest</b></mat-label>
      <mat-radio-button
        *ngFor="let recogniser of recognisers"
        class="aurac-radio-button"
        [value]="recogniser"
      >
        {{ recogniser | recogniserName }}
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="showSpecies()">
      <mat-form-field appearance="fill" class="aurac-dropdown">
        <mat-label>Select species</mat-label>
        <mat-select [formControl]="form!.get('species')">
          <mat-option *ngFor="let species of allSpecies" [value]="species">
            {{ species }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="aurac-dropdown">
      <mat-label>Select minimum entity length</mat-label>
      <mat-select [formControl]="form!.get('minEntityLength')">
        <mat-option *ngFor="let length of minEntityLength" [value]="length">
          {{ length }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
