<article>
    <mat-card>
        <mat-card-title>{{ entity.title }} ({{ scrollIndex + 1  }} / {{ entity.occurrences.length }} occurrences)</mat-card-title>
        <mat-card-subtitle>{{ entity.synonyms.join(', ') }}.</mat-card-subtitle>
        <button (click)="arrowClicked('left')">Left</button>
        <button (click)="arrowClicked('right')">Right</button>
        <button (click)="remove()">Remove</button>
        <mat-card-content *ngIf="filterIdentifiers(entity.identifiers).length">
            <table mat-table [dataSource]="filterIdentifiers(entity.identifiers)">
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Value</th>
                    <td mat-cell *matCellDef="let element">{{ element.value }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['type', 'value']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['type', 'value']"></tr>
            </table>

            <!-- xrefs -->
            <table mat-table [dataSource]="entity.xRefs">
                <ng-container matColumnDef="databaseName">
                    <th mat-header-cell *matHeaderCellDef>Source</th>
                    <td mat-cell *matCellDef="let element">{{ element.databaseName | titlecase}}</td>
                </ng-container>
                <ng-container matColumnDef="url">
                    <th mat-header-cell *matHeaderCellDef>URL</th>
                    <td mat-cell *matCellDef="let element"><a href="{{element.url}}" target="_blank">{{ element.url }}</a></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['databaseName', 'url']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['databaseName', 'url']"></tr>
            </table>

        </mat-card-content>
    </mat-card>
</article>
<br>
