<article>
  <mat-card>
    <mat-card-title id="{{ card.entityID }}"
    >{{ title }} ({{ scrollIndex + 1 }} / {{ nOccurrences }} occurrences)
    </mat-card-title
    >
    <mat-card-subtitle>{{ synonyms.join(', ') }}</mat-card-subtitle>

    <button (click)="remove()">Remove</button>

    <div class="arrow-buttons">
      <button mat-icon-button aria-label="Left arrow button" (click)="arrowClicked('left')">
        <mat-icon>svgIcon="left_arrow"</mat-icon>
      </button>
      <button mat-icon-button aria-label="Right arrow button" (click)="arrowClicked('right')">
        <mat-icon>svgIcon="right_arrow"</mat-icon>
      </button>
    </div>

    <mat-card-content>

      <mat-accordion>

        <!-- xrefs -->
        <mat-expansion-panel *ngIf="card.entity.xRefs?.length">
          <mat-expansion-panel-header>
            <mat-panel-description>Links</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list>
            <mat-chip *ngFor="let xRef of card.entity.xRefs">
              <a href="{{ xRef.url }}" target="_blank" class="href-no-underline">{{
                xRef.databaseName | titlecase
                }}</a>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>

        <!-- links -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>Search</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list>
            <mat-chip *ngFor="let link of links">
              <a href="{{ link.url }}" target="_blank" class="href-no-underline">{{
                link.resourceName
                }}</a>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-card-content>
  </mat-card>
</article>
<br />
