<article>
  <mat-card>
    <mat-card-title id="{{ card.entityID }}"
      >{{ title }} 
        <span *ngIf="nOccurrences > 0">({{ scrollIndex + 1 }} / {{ nOccurrences }} occurrences)</span>
      </mat-card-title
    >
    <mat-card-subtitle>{{ synonyms.join(', ') }}.</mat-card-subtitle>
    <button (click)="arrowClicked('left')">Left</button>
    <button (click)="arrowClicked('right')">Right</button>
    <button (click)="remove()">Remove</button>
    <mat-card-content>
      <table *ngIf="identifiers.length" mat-table [dataSource]="identifiers">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['type', 'value']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['type', 'value']"></tr>
      </table>

      <!-- xrefs -->
      <table *ngIf="card.entity.xRefs?.length" mat-table [dataSource]="card.entity.xrefs">
        <ng-container matColumnDef="databaseName">
          <th mat-header-cell *matHeaderCellDef>Source</th>
          <td mat-cell *matCellDef="let element">{{ element.databaseName | titlecase }}</td>
        </ng-container>
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{ element.url }}" target="_blank">{{ element.url }}</a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['databaseName', 'url']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['databaseName', 'url']"></tr>
      </table>

      <!-- links -->
      <table mat-table [dataSource]="links">
        <ng-container matColumnDef="resourceName">
          <th mat-header-cell *matHeaderCellDef>Resource</th>
          <td mat-cell *matCellDef="let element">{{ element.resourceName }}</td>
        </ng-container>
        <ng-container matColumnDef="linkUrl">
          <th mat-header-cell *matHeaderCellDef>URL</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{ element.url }}" target="_blank"> {{ element.url }} </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['resourceName', 'linkUrl']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['resourceName', 'linkUrl']"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</article>
<br />
