<article>
  <mat-card>
    <div class="button-container">
      <button mat-icon-button aria-label="Close button for a sidebar card" (click)="remove()">
        <mat-icon>clear</mat-icon>
      </button>
      <div class="arrow-buttons">
        <p>
          <em>{{ scrollIndex + 1 }} / {{ nOccurrences }}</em>
        </p>
        <button mat-icon-button aria-label="Left arrow button" (click)="arrowClicked('left')">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          class="arrow-buttons"
          mat-icon-button
          aria-label="Right arrow button"
          (click)="arrowClicked('right')"
        >
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-header>
      <mat-card-title id="{{ card.entityID }}">
        <p>
          {{ title }}
        </p>
      </mat-card-title>
      <mat-card-subtitle>{{ synonyms.join(', ') }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-accordion>
        <!-- xrefs -->
        <mat-expansion-panel *ngIf="card.entity.xRefs?.length">
          <mat-expansion-panel-header>
            <mat-panel-description>Links</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list>
            <mat-chip *ngFor="let xRef of card.entity.xRefs">
              <a href="{{ xRef.url }}" target="_blank" class="href-no-underline">{{
                xRef.databaseName | titlecase
              }}</a>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>

        <!-- links -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>Search</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-chip-list>
            <mat-chip *ngFor="let link of links">
              <a href="{{ link.url }}" target="_blank" class="href-no-underline">{{
                link.resourceName
              }}</a>
            </mat-chip>
          </mat-chip-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</article>
<br />
