@import 'src/assets/stylingVariables';

.mat-raised-button:hover {
  background-color: lightgrey;
}

.aurac-popup {
  width: 400px;
  padding: 5px;
  background-color: $aurac_background;
}

.aurac-popup-button {
  display: inline-block;
}

.aurac-popup-header {
  display: flex;
  justify-content: center;
  background-color: $aurac_background;
  position: sticky;
  margin: 0.75vh;
}

.aurac-popup-logo {
  //padding: 10px;
  //background-color: $aurac_background;
  width: 13em;
  display: block;
  margin: 1em auto 0.5em auto;
}

.aurac-ner-icon {
  color: $aurac_button;
  height: 15px !important;
  width: 15px !important;
  display: inline-table;
}

.ner-button-container {
  margin: 10px 0 10px 0;
}

.aurac-settings-button-container {
  padding: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  background-color: $aurac_background;
}

button {
  display: flex;
  width: 100%;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
}

.pdf-logo {
  padding-right: 5px;
}

.aurac-link-sources {
  margin-bottom: 5px;
}
