.link-control {
  margin: 10px;
  width: 95%;
}

.confirm {
  width: 50%;
  display: block;
  margin: 0 auto 5px;
}

.confirm:hover {
  background-color: rgb(226, 152, 71);
}

.error {
  color: red;
  display: block;
  margin: 0 auto 5px;
}
