@import 'src/app/utilities/stylingVariables';

.settings {
  width: 400px;
  background-color: $popup_default_background;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aurac-settings-logo {
  background-color: $popup_default_background;
  padding-bottom: 1rem;
}

.restore-defaults-button-container {
  background-color: $ner_button;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
