@import 'src/assets/stylingVariables';

.button-element {
  margin: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  //background-color: $aurac_background;
}

.mat-form-field {
  display: block;
  font-size: medium;
  margin: 2vw 2vw 0 2vw;
}

.save-button {
  width: 50%;
  display: block;
  margin: 0 auto 0;
  background-color: $aurac_button;
}
.save-button:hover {
  background-color: $aurac_button_hover;
}
