<div class="form-container">
  <form class="aurac-url-form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>NER URL</mat-label>
      <input
        type="text"
        name="{{ urlKeys.nerURL }}"
        formControlName="{{ urlKeys.nerURL }}"
        id="{{ urlKeys.nerURL }}"
        matInput
        placeholder="Enter NER URL here"
      />
      <mat-error *ngIf="form!.get(urlKeys.nerURL)!.invalid">Please enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Compound Converter URL</mat-label>
      <input
        type="text"
        name="{{ urlKeys.compoundConverterURL }}"
        formControlName="{{ urlKeys.compoundConverterURL }}"
        id="{{ urlKeys.compoundConverterURL }}"
        matInput
        placeholder="Enter Compound Converter URL here"
      />
      <mat-error *ngIf="form!.get(urlKeys.compoundConverterURL)!.invalid"
        >Please enter a valid URL</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Unichem URL</mat-label>
      <input
        type="text"
        name="{{ urlKeys.unichemURL }}"
        formControlName="{{ urlKeys.unichemURL }}"
        id="{{ urlKeys.unichemURL }}"
        matInput
        placeholder="Enter Unichem URL here"
      />
      <mat-error *ngIf="form!.get(urlKeys.unichemURL)!.invalid"
        >Please enter a valid URL</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>PDF converter URL</mat-label>
      <input
        type="text"
        name="{{ urlKeys.pdfConverterURL }}"
        formControlName="{{ urlKeys.pdfConverterURL }}"
        id="{{ urlKeys.pdfConverterURL }}"
        matInput
        placeholder="Enter Unichem URL here"
      />
      <mat-error *ngIf="form!.get(urlKeys.pdfConverterURL)!.invalid"
        >Please enter a valid URL</mat-error
      >
    </mat-form-field>
  </form>
</div>
<button (click)="save()">Save</button>