@import 'src/assets/stylingVariables';


.button-element {
  margin: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: $aurac_background;
}

.mat-form-field {
  display: block;
  font-size: medium;
  margin: 2vw 2vw 0 2vw;
}
.aurac-url-form {
  padding-top: 15px;
}
