@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*removes border around Angular components*/
body {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}


.aurac-sidebar {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 2147483646;
  height: 100vh;
  top: 0;
  width: 20vw;
  overflow: hidden;
  display: flex;
}

.aurac-iframe {
  flex-grow: 1;
  border: none;
  margin: 0;
}

.aurac-sidebar--collapsed {
  left: -20vw;
}

.aurac-sidebar--expanded {
  left: 0;
  box-shadow: 0 10px 5px grey;
}

.aurac-sidebar-button {
  color: black;
  background-color: rgb(192, 192, 192);
  position: fixed;
  top: 50%;
}

.aurac-sidebar-button--collapsed {
  left: 0;
}

.aurac-sidebar-button--expanded {
  left: 20vw;
}

.aurac-transform {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.aurac-body--sidebar-collapsed {
  width: 100vw;
  margin-left: 0;
}

.aurac-body--sidebar-expanded {
  width: 80vw;
  margin-left: 20vw;
}

.aurac-modal-wrapper {
  display: none;
}

.aurac-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  z-index: 1000;
  height: 80%;
  overflow: auto;
}

.aurac-modal-body {
  padding: 20px;
  background: #fff;
  margin: 20px;
  height: 80%;
}

.aurac-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.75;
  z-index: 900;
}

body.aurac-modal-open {
  overflow: hidden;
}

#aurac-loading-icon {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(226, 152, 71);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.aurac-highlight {
  background: plum;
  color: black;
  cursor: pointer;
}

.aurac-highlight:focus {
  background: lightblue;
}

.aurac-close-button {
  align-content: flex-start;
}
