<div *ngIf="hasXRefs()">
  <form [formGroup]="sourcesForm">
    <table class="table">
      <tr *ngFor="let control of sourcesForm.value | keyvalue">
        <td>
          <label [for]="control.key">
            {{ control.key }}
          </label>
        </td>
        <td>
          <input
            type="checkbox"
            [id]="control.key"
            [value]="control.value"
            [formControlName]="control.key"
          />
        </td>
      </tr>
    </table>
  </form>
</div>
<div *ngIf="!hasXRefs()">No sources available.</div>
