.button-element {
  margin: 5px;
}

.disabled {
  background-color: #a6a3a2;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field{
  display: block;
  font-size: medium;
  margin: 4vw 4vw 0 4vw;
}
