<div class="form-container">
  <form [formGroup]="urlsForm">

    <mat-form-field appearance="outline">
      <mat-label>Leadmine URL</mat-label>
      <input
        type="text"
        name="{{urlKeys.leadmineURL}}"
        formControlName="{{urlKeys.leadmineURL}}"
        id="{{urlKeys.leadmineURL}}"
        matInput placeholder="Enter Leadmine URL here">
      <mat-error *ngIf="urlsForm!.get(urlKeys.leadmineURL)!.invalid">Please enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Compound Converter URL</mat-label>
      <input
        type="text"
        name="{{urlKeys.compoundConverterURL}}"
        formControlName="{{urlKeys.compoundConverterURL}}"
        id="{{urlKeys.compoundConverterURL}}"
        matInput placeholder="Enter Compound Converter URL here">
      <mat-error *ngIf="urlsForm!.get(urlKeys.compoundConverterURL)!.invalid">Please enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Unichem URL</mat-label>
      <input
        type="text"
        name="{{urlKeys.unichemURL}}"
        formControlName="{{urlKeys.unichemURL}}"
        id="{{urlKeys.unichemURL}}"
        matInput placeholder="Enter Unichem URL here">
      <mat-error *ngIf="urlsForm!.get(urlKeys.unichemURL)!.invalid">Please enter a valid URL</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PDF converter URL</mat-label>
      <input
        type="text"
        name="{{urlKeys.pdfConverterURL}}"
        formControlName="{{urlKeys.pdfConverterURL}}"
        id="{{urlKeys.pdfConverterURL}}"
        matInput placeholder="Enter Unichem URL here">
      <mat-error *ngIf="urlsForm!.get(urlKeys.pdfConverterURL)!.invalid">Please enter a valid URL</mat-error>
    </mat-form-field>

  </form>
</div>
