<div class="bg-gray-50 flex-col">
  <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
    <div class="relative grid gap-6 bg-white px-3 py-3 sm:gap-8 sm:p-8">


      <div class="form-container">
        <form [formGroup]="urlsForm">

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Leadmine URL</mat-label>
            <input
              type="text"
              [ngStyle]="getBorderColor(urlKeys.leadmineURL)"
              name="{{urlKeys.leadmineURL}}"
              formControlName="{{urlKeys.leadmineURL}}"
              id="{{urlKeys.leadmineURL}}"
              matInput placeholder="Enter Leadmine URL here">
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Compound Converter URL</mat-label>
            <input
              type="text"
              [ngStyle]="getBorderColor(urlKeys.compoundConverterURL)"
              name="{{urlKeys.compoundConverterURL}}"
              formControlName="{{urlKeys.compoundConverterURL}}"
              id="{{urlKeys.compoundConverterURL}}"
              matInput placeholder="Enter Compound Converter URL here">
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Unichem URL</mat-label>
            <input
              type="text"
              [ngStyle]="getBorderColor(urlKeys.unichemURL)"
              name="{{urlKeys.unichemURL}}"
              formControlName="{{urlKeys.unichemURL}}"
              id="{{urlKeys.unichemURL}}"
              matInput placeholder="Enter Unichem URL here">
          </mat-form-field>

        </form>
      </div>


    </div>
  </div>
</div>
