<div class="settings bg-gray-50 flex-col">

  <button class="content-start p-1" (click)="closeSettings()">&#10060;</button>

  <div class="flex items-center justify-center flex-initial">
    <img src="./assets/head-brains.icon.128.png" alt="logo" class="bg-gray-50 pb-2">
  </div>

  <mat-tab-group>
    <mat-tab label="URLs">
      <app-urls
        [urlsForm]="settingsForm.get('urls')"
      ></app-urls>
    </mat-tab>
    <mat-tab label="Sources">
      <app-x-ref-sources
        [sourcesForm]="settingsForm.get('xRefConfig')"
        [settings]="settings ? settings.xRefConfig : {}"
        [unichemURL]="settings ? settings.urls.unichemURL : ''"
      ></app-x-ref-sources>
    </mat-tab>
  </mat-tab-group>

</div>
