.settings {
  height: 600px;
  width: 600px;
}

.url-input {
  position: absolute;
  right: 5%;
  width: 60%
}

.url-form {
  margin-top: 5%;
}

.save {
  margin-top: 20px;
  border: 2px solid black;
}
