<div class="settings">
  <button (click)="closeSettings()">&#10060;</button>
  <br>
  <form [formGroup]="settingsForm">
    <div class="url-form">
      <span class="url text-base font-medium text-gray-900">
        Leadmine URL:
      </span>
      <input class=url-input type=text formControlName="leadmineURL">
    </div>
    <br>
    <div class="url-form">
      <span class="url text-base font-medium text-gray-900">
        Compound Converter URL:
      </span>
      <input class=url-input type=text formControlName="compoundConverterURL">
    </div>
    <br>
    <div class="url-form">
      <span class="url text-base font-medium text-gray-900">
        Unichem URL:
      </span>
      <input class=url-input type=text formControlName="unichemURL">
    </div>
    <br>
  </form>

  <button class="save text-base font-medium text-gray-900" (click)="save()">Save</button>
</div>
