.settings {
  height: 600px;
  width: 400px;
}

.button-element {
  margin: 5px;
}

.disabled {
  background-color: #a6a3a2;
}

.button-container{
  width: auto;
  height: auto;
  display:inline-block;
  background-color: red;
}


